@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.outfit {
  font-family: "Outfit", sans-serif;
}
.zilla {
  font-family: "Zilla Slab", serif;
}
.roboto {
  font-family: "Roboto", sans-serif;
}
.playwrite {
  font-family: "Playwrite CU", cursive;
}


@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
.animate-blink {
  animation: blink 3s ease-in-out infinite;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-name {
  animation: fadeInUp 3s ease-out;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink {
  0% { border-color: transparent; }
  100% { border-color: rgba(255, 255, 255, 0.75); }
}

.typing-effect {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  animation: typing 4.5s steps(40, end), blink 0.75s step-end infinite;
}

.typing-container {
  display: inline-block;
}